
@import "tailwindcss";
@import 'primeicons/primeicons.css';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #111827; /* El mismo gris oscuro de tu app */
}

#app {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  
  /* CAMBIO IMPORTANTE AQUÍ: */
  display: flex !important;           /* Activamos Flexbox a la fuerza */
  flex-direction: column !important;  /* Ordenamos en vertical a la fuerza */
  
  min-height: 100vh;}